[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.8"
graphene = "==2.0.dev20170802065539"
graphene-django = "==2.0.dev2017083101"
graphql-core = "==2.0.dev20170801051721"
graphql-relay = "==0.4.5"
django-cors-headers = "==2.0.2"
django-anymail = "*"
django-extensions = "*"
simplejson = "*"
stripe = "*"
django-form-serializer = {git = "git://github.com/bitlabstudio/django-form-serializer.git"}
mixer = "*"


[dev-packages]

ansible = "==2.4.2.0"
"fabric3" = "==1.13.1.post1"
ipdb = "*"
mixer = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
pytestipdb = {git = "git://github.com/mverteuil/pytest-ipdb.git"}
